<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vonhraban.jira.alfred</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1C62548B-0D6A-4ED5-88CD-15603906B9E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84D0BF14-C3A1-4387-B550-2294E9D88640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E73EF0E-68F4-4CC0-9ECE-D50D26E2826C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41122CB2-BEC8-46E1-A536-F410E9DF18BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41122CB2-BEC8-46E1-A536-F410E9DF18BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37633098-BC3B-4D91-BB96-D437F08127C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>84D0BF14-C3A1-4387-B550-2294E9D88640</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E73EF0E-68F4-4CC0-9ECE-D50D26E2826C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Jira Search</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JIRA Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search {var:ARG} for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E73EF0E-68F4-4CC0-9ECE-D50D26E2826C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>37633098-BC3B-4D91-BB96-D437F08127C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n ${URL/\{query\}/$1}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41122CB2-BEC8-46E1-A536-F410E9DF18BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>web</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./jira search -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search a website</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84D0BF14-C3A1-4387-B550-2294E9D88640</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search websites</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1C62548B-0D6A-4ED5-88CD-15603906B9E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C62548B-0D6A-4ED5-88CD-15603906B9E4</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>2E73EF0E-68F4-4CC0-9ECE-D50D26E2826C</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>37633098-BC3B-4D91-BB96-D437F08127C7</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>41122CB2-BEC8-46E1-A536-F410E9DF18BD</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>84D0BF14-C3A1-4387-B550-2294E9D88640</key>
		<dict>
			<key>note</key>
			<string>Search through websites</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
